@import "tailwindcss";

@layer base {
  html,
  body {
    background: #040a18;
  }
}

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  canvas {
    display: block;
  }

  * {
    scrollbar-width: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  html {
    scroll-behavior: smooth;
  }
}
